<h2>{{hero.name}} Details</h2>
<h3>Edad del super heroe: {{hero.edad}}</h3>
<h3>Poder del super heroe: {{hero.poder}}</h3>
<h3>Identidad del super heroe: {{hero.identidad}}</h3>
<h3>Universo del super heroe: {{hero.universo}}</h3>
<div><span>id: </span>{{hero.id}}</div>
<div>
<label form="name"> Nombre del super heroe: </label>
<input id="name" [(ngModel)]="hero.name" placeholder="name">
</div>
<div>
<label form="edad"> Edad del super heroe: </label>
<input id="edad" [(ngModel)]="hero.edad" placeholder="edad">
</div>
<div>
<label form="poder"> Poder del super heroe: </label>
<input id="poder" [(ngModel)]="hero.poder" placeholder="poder">
</div>
<div>
<label form="identidad"> Identidad del super heroe: </label>
<input id="identidad" [(ngModel)]="hero.identidad" placeholder="identidad">
</div>
<div>
<label form="universo"> Universo del super heroe: </label>
<input id="universo" [(ngModel)]="hero.universo" placeholder="universo">
</div>
