<h2>Mis villanos Favoritos</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes"
    [class.selected]="hero === selectedHero"
      (click)="onSelect(hero)">
      <span class="badge">{{hero.id}}</span>{{hero.name}}
    </li>
</ul>
<div *ngIf="selectedHero">
  <h2>{{selectedHero.name}} datos a modificar </h2>
  <div><span>id: </span>{{selectedHero.id}}</div>
  <div>
    <label for = "hero-name">Villano Nombre: </label>
      <input id="hero-name" [(ngModel)]="selectedHero.name" placeholder="name">
    </div>
  <div>
      <label for = "hero-poder">Villano Poder: </label>
        <input id="hero-poder" [(ngModel)]="selectedHero.poder" placeholder="poder">
  </div>
<div>
  <label for = "hero-nivelpoder">Villano Nivel Poder: </label>
  <input id="hero-nivelpoder" [(ngModel)]="selectedHero.nivelpoder" placeholder="nivelpoder">
</div>
<h2>Incrementar o decrementar el poder</h2>
  <div>
  <button (click) = "acumular(base)"> + {{ base }}</button>
  <span >{{numero}}</span>
  <button (click) = "acumular(-base)"> - {{ base }}</button>
</div>
</div>
